@model List<ServiceLogViewModel>

@{
    ViewData["Title"] = "Service Log Page";
}

<div class="row">
    <div class="col-12">
        <table class="table table-responsive display" id="example" style="width:100%">
            <thead>
            <tr>
                <th>Date</th>
                <th>Done By</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var element in Model)
            {
                <tr>
                    <td>@element.CreatedDate</td>
                    <td>@element.DoneBy</td>
                    <td>@element.Description</td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <th>Date</th>
                <th>Done By</th>
                <th>Description</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#example tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });
            var table = $('#example').DataTable({
                dom: 'Bfrtip',
                initComplete: function () {
                    // Apply the search
                    this.api().columns().every(function () {
                        var that = this;
                        $('input', this.footer()).on('keyup change clear',
                            function () {
                                if (that.search() !== this.value) {
                                    that
                                        .search(this.value)
                                        .draw();
                                }
                            });
                    });
                },
                "responsive": true,
                "lengthChange": true,
                "autoWidth": true
            });
        });
    </script>
}